[Desktop Entry]
Version=1.0
Type=Application
Name=1
Comment=1 Style for XFCE Desktop
Exec=/usr/share/amos/styles/1.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
