[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=dunst-pywal
Comment=
Exec=/home/amanre/.config/dunst/dunst_with_pywal.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

