! X colors.
*foreground:        #9edcee
*background:        #030721
*.foreground:       #9edcee
*.background:       #030721
emacs*foreground:   #9edcee
emacs*background:   #030721
URxvt*foreground:   #9edcee
XTerm*foreground:   #9edcee
UXTerm*foreground:  #9edcee
URxvt*background:   [100]#030721
XTerm*background:   #030721
UXTerm*background:  #030721
URxvt*cursorColor:  #9edcee
XTerm*cursorColor:  #9edcee
UXTerm*cursorColor: #9edcee
URxvt*borderColor:  [100]#030721

! Colors 0-15.
*.color0: #030721
*color0:  #030721
*.color1: #37509C
*color1:  #37509C
*.color2: #1160AD
*color2:  #1160AD
*.color3: #1C74CC
*color3:  #1C74CC
*.color4: #9B61A5
*color4:  #9B61A5
*.color5: #2898DE
*color5:  #2898DE
*.color6: #5DA3E8
*color6:  #5DA3E8
*.color7: #9edcee
*color7:  #9edcee
*.color8: #6e9aa6
*color8:  #6e9aa6
*.color9: #37509C
*color9:  #37509C
*.color10: #1160AD
*color10:  #1160AD
*.color11: #1C74CC
*color11:  #1C74CC
*.color12: #9B61A5
*color12:  #9B61A5
*.color13: #2898DE
*color13:  #2898DE
*.color14: #5DA3E8
*color14:  #5DA3E8
*.color15: #9edcee
*color15:  #9edcee

! Black color that will not be affected by bold highlighting.
*.color66: #030721
*color66:  #030721

! Xclock colors.
XClock*foreground: #9edcee
XClock*background: #030721
XClock*majorColor:  rgba:9e/dc/ee/ff
XClock*minorColor:  rgba:9e/dc/ee/ff
XClock*hourColor:   rgba:9e/dc/ee/ff
XClock*minuteColor: rgba:9e/dc/ee/ff
XClock*secondColor: rgba:9e/dc/ee/ff

! Set depth to make transparency work.
URxvt*depth: 32
